<p id="notice"><%= notice %></p>

<p>
  <strong>Ledger:</strong>
  <%= @extract.ledger %>
</p>

<p>
  <strong>Account:</strong>
  <%= @extract.account %>
</p>

<p>
  <strong>Period:</strong>
  <%= @extract.period %>
</p>

<p>
  <strong>Transaction date:</strong>
  <%= @extract.transaction_date %>
</p>

<p>
  <strong>Journal:</strong>
  <%= @extract.journal %>
</p>

<p>
  <strong>Line no:</strong>
  <%= @extract.line_no %>
</p>

<p>
  <strong>Base amt:</strong>
  <%= @extract.base_amt %>
</p>

<p>
  <strong>Signal base amt:</strong>
  <%= @extract.signal_base_amt %>
</p>

<p>
  <strong>Debit credit marker:</strong>
  <%= @extract.debit_credit_marker %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @extract.reference %>
</p>

<p>
  <strong>Description:</strong>
  <%= @extract.description %>
</p>

<p>
  <strong>Journal type:</strong>
  <%= @extract.journal_type %>
</p>

<p>
  <strong>Journal source:</strong>
  <%= @extract.journal_source %>
</p>

<p>
  <strong>Other amt:</strong>
  <%= @extract.other_amt %>
</p>

<p>
  <strong>Signal other amt:</strong>
  <%= @extract.signal_other_amt %>
</p>

<p>
  <strong>Conversion code:</strong>
  <%= @extract.conversion_code %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @extract.rate %>
</p>

<p>
  <strong>Tcode 0:</strong>
  <%= @extract.tcode_0 %>
</p>

<p>
  <strong>Tcode 1:</strong>
  <%= @extract.tcode_1 %>
</p>

<p>
  <strong>Tcode 2:</strong>
  <%= @extract.tcode_2 %>
</p>

<p>
  <strong>Tcode 3:</strong>
  <%= @extract.tcode_3 %>
</p>

<p>
  <strong>Tcode 4:</strong>
  <%= @extract.tcode_4 %>
</p>

<p>
  <strong>Tcode 5:</strong>
  <%= @extract.tcode_5 %>
</p>

<p>
  <strong>Tcode 6:</strong>
  <%= @extract.tcode_6 %>
</p>

<p>
  <strong>Tcode 7:</strong>
  <%= @extract.tcode_7 %>
</p>

<p>
  <strong>Tcode 8:</strong>
  <%= @extract.tcode_8 %>
</p>

<p>
  <strong>Tcode 9:</strong>
  <%= @extract.tcode_9 %>
</p>

<p>
  <strong>Alloc ind:</strong>
  <%= @extract.alloc_ind %>
</p>

<p>
  <strong>Alloc ref:</strong>
  <%= @extract.alloc_ref %>
</p>

<p>
  <strong>Alloc period:</strong>
  <%= @extract.alloc_period %>
</p>

<p>
  <strong>Alloc date:</strong>
  <%= @extract.alloc_date %>
</p>

<p>
  <strong>Asset indicator:</strong>
  <%= @extract.asset_indicator %>
</p>

<p>
  <strong>Asset code:</strong>
  <%= @extract.asset_code %>
</p>

<p>
  <strong>Asset subcode:</strong>
  <%= @extract.asset_subcode %>
</p>

<p>
  <strong>Entry date:</strong>
  <%= @extract.entry_date %>
</p>

<p>
  <strong>Entry period:</strong>
  <%= @extract.entry_period %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @extract.due_date %>
</p>

<p>
  <strong>Entry op:</strong>
  <%= @extract.entry_op %>
</p>

<p>
  <strong>Post op:</strong>
  <%= @extract.post_op %>
</p>

<p>
  <strong>Amend op:</strong>
  <%= @extract.amend_op %>
</p>

<p>
  <strong>Rough book:</strong>
  <%= @extract.rough_book %>
</p>

<%= link_to 'Edit', edit_extract_path(@extract) %> |
<%= link_to 'Back', extracts_path %>
