<p id="notice"><%= notice %></p>

<p>
  <strong>Ledger:</strong>
  <%= @ledger.ledger %>
</p>

<p>
  <strong>Account:</strong>
  <%= @ledger.account %>
</p>

<p>
  <strong>Period:</strong>
  <%= @ledger.period %>
</p>

<p>
  <strong>Transaction date:</strong>
  <%= @ledger.transaction_date %>
</p>

<p>
  <strong>Journal:</strong>
  <%= @ledger.journal %>
</p>

<p>
  <strong>Line no:</strong>
  <%= @ledger.line_no %>
</p>

<p>
  <strong>Base amt:</strong>
  <%= @ledger.base_amt %>
</p>

<p>
  <strong>Signal base amt:</strong>
  <%= @ledger.signal_base_amt %>
</p>

<p>
  <strong>Debit credit marker:</strong>
  <%= @ledger.debit_credit_marker %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @ledger.reference %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ledger.description %>
</p>

<p>
  <strong>Journal type:</strong>
  <%= @ledger.journal_type %>
</p>

<p>
  <strong>Journal source:</strong>
  <%= @ledger.journal_source %>
</p>

<p>
  <strong>Other amt:</strong>
  <%= @ledger.other_amt %>
</p>

<p>
  <strong>Signal other amt:</strong>
  <%= @ledger.signal_other_amt %>
</p>

<p>
  <strong>Conversion code:</strong>
  <%= @ledger.conversion_code %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @ledger.rate %>
</p>

<p>
  <strong>Tcode 0:</strong>
  <%= @ledger.tcode_0 %>
</p>

<p>
  <strong>Tcode 1:</strong>
  <%= @ledger.tcode_1 %>
</p>

<p>
  <strong>Tcode 2:</strong>
  <%= @ledger.tcode_2 %>
</p>

<p>
  <strong>Tcode 3:</strong>
  <%= @ledger.tcode_3 %>
</p>

<p>
  <strong>Tcode 4:</strong>
  <%= @ledger.tcode_4 %>
</p>

<p>
  <strong>Tcode 5:</strong>
  <%= @ledger.tcode_5 %>
</p>

<p>
  <strong>Tcode 6:</strong>
  <%= @ledger.tcode_6 %>
</p>

<p>
  <strong>Tcode 7:</strong>
  <%= @ledger.tcode_7 %>
</p>

<p>
  <strong>Tcode 8:</strong>
  <%= @ledger.tcode_8 %>
</p>

<p>
  <strong>Tcode 9:</strong>
  <%= @ledger.tcode_9 %>
</p>

<p>
  <strong>Alloc ind:</strong>
  <%= @ledger.alloc_ind %>
</p>

<p>
  <strong>Alloc ref:</strong>
  <%= @ledger.alloc_ref %>
</p>

<p>
  <strong>Alloc period:</strong>
  <%= @ledger.alloc_period %>
</p>

<p>
  <strong>Alloc date:</strong>
  <%= @ledger.alloc_date %>
</p>

<p>
  <strong>Asset indicator:</strong>
  <%= @ledger.asset_indicator %>
</p>

<p>
  <strong>Asset code:</strong>
  <%= @ledger.asset_code %>
</p>

<p>
  <strong>Asset subcode:</strong>
  <%= @ledger.asset_subcode %>
</p>

<p>
  <strong>Entry date:</strong>
  <%= @ledger.entry_date %>
</p>

<p>
  <strong>Entry period:</strong>
  <%= @ledger.entry_period %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @ledger.due_date %>
</p>

<p>
  <strong>Entry op:</strong>
  <%= @ledger.entry_op %>
</p>

<p>
  <strong>Post op:</strong>
  <%= @ledger.post_op %>
</p>

<p>
  <strong>Amend op:</strong>
  <%= @ledger.amend_op %>
</p>

<p>
  <strong>Rough book:</strong>
  <%= @ledger.rough_book %>
</p>

<%= link_to 'Edit', edit_ledger_path(@ledger) %> |
<%= link_to 'Back', ledgers_path %>
