<p id="notice"><%= notice %></p>

<p>
  <strong>Status oper:</strong>
  <%= @microsiga_entry.status_oper %>
</p>

<p>
  <strong>Cnpj cpf:</strong>
  <%= @microsiga_entry.cnpj_cpf %>
</p>

<p>
  <strong>Tipo mapfre:</strong>
  <%= @microsiga_entry.tipo_mapfre %>
</p>

<p>
  <strong>Fornecedor:</strong>
  <%= @microsiga_entry.fornecedor %>
</p>

<p>
  <strong>Loja:</strong>
  <%= @microsiga_entry.loja %>
</p>

<p>
  <strong>Nom forn:</strong>
  <%= @microsiga_entry.nom_forn %>
</p>

<p>
  <strong>Tipo rubrica:</strong>
  <%= @microsiga_entry.tipo_rubrica %>
</p>

<p>
  <strong>Prefixo:</strong>
  <%= @microsiga_entry.prefixo %>
</p>

<p>
  <strong>No titulo:</strong>
  <%= @microsiga_entry.no_titulo %>
</p>

<p>
  <strong>Parcela:</strong>
  <%= @microsiga_entry.parcela %>
</p>

<p>
  <strong>Natureza:</strong>
  <%= @microsiga_entry.natureza %>
</p>

<p>
  <strong>Banco dest:</strong>
  <%= @microsiga_entry.banco_dest %>
</p>

<p>
  <strong>Agencia dest:</strong>
  <%= @microsiga_entry.agencia_dest %>
</p>

<p>
  <strong>Conta dest:</strong>
  <%= @microsiga_entry.conta_dest %>
</p>

<p>
  <strong>Dt emissao:</strong>
  <%= @microsiga_entry.dt_emissao %>
</p>

<p>
  <strong>Vencimento:</strong>
  <%= @microsiga_entry.vencimento %>
</p>

<p>
  <strong>Vencto real:</strong>
  <%= @microsiga_entry.vencto_real %>
</p>

<p>
  <strong>Vlr titulo:</strong>
  <%= @microsiga_entry.vlr_titulo %>
</p>

<p>
  <strong>Vl original:</strong>
  <%= @microsiga_entry.vl_original %>
</p>

<p>
  <strong>Portador:</strong>
  <%= @microsiga_entry.portador %>
</p>

<p>
  <strong>Iss:</strong>
  <%= @microsiga_entry.iss %>
</p>

<p>
  <strong>Irrf:</strong>
  <%= @microsiga_entry.irrf %>
</p>

<p>
  <strong>Inss:</strong>
  <%= @microsiga_entry.inss %>
</p>

<p>
  <strong>Pis pasep:</strong>
  <%= @microsiga_entry.pis_pasep %>
</p>

<p>
  <strong>Cofins:</strong>
  <%= @microsiga_entry.cofins %>
</p>

<p>
  <strong>Csll:</strong>
  <%= @microsiga_entry.csll %>
</p>

<p>
  <strong>N do cheque:</strong>
  <%= @microsiga_entry.n_do_cheque %>
</p>

<p>
  <strong>Historico:</strong>
  <%= @microsiga_entry.historico %>
</p>

<p>
  <strong>Motivo:</strong>
  <%= @microsiga_entry.motivo %>
</p>

<p>
  <strong>Rateio:</strong>
  <%= @microsiga_entry.rateio %>
</p>

<p>
  <strong>Vlr rs:</strong>
  <%= @microsiga_entry.vlr_rs %>
</p>

<p>
  <strong>Mult natur:</strong>
  <%= @microsiga_entry.mult_natur %>
</p>

<p>
  <strong>Rateio proj:</strong>
  <%= @microsiga_entry.rateio_proj %>
</p>

<p>
  <strong>Gera dirf:</strong>
  <%= @microsiga_entry.gera_dirf %>
</p>

<p>
  <strong>Mod pagto:</strong>
  <%= @microsiga_entry.mod_pagto %>
</p>

<p>
  <strong>Local pagto:</strong>
  <%= @microsiga_entry.local_pagto %>
</p>

<p>
  <strong>Cod agencia:</strong>
  <%= @microsiga_entry.cod_agencia %>
</p>

<p>
  <strong>Cod congener:</strong>
  <%= @microsiga_entry.cod_congener %>
</p>

<p>
  <strong>Cod pag:</strong>
  <%= @microsiga_entry.cod_pag %>
</p>

<p>
  <strong>Cod empresa:</strong>
  <%= @microsiga_entry.cod_empresa %>
</p>

<p>
  <strong>Cod corretor:</strong>
  <%= @microsiga_entry.cod_corretor %>
</p>

<p>
  <strong>Cod ramo:</strong>
  <%= @microsiga_entry.cod_ramo %>
</p>

<p>
  <strong>Num liq sin:</strong>
  <%= @microsiga_entry.num_liq_sin %>
</p>

<p>
  <strong>Num sinistro:</strong>
  <%= @microsiga_entry.num_sinistro %>
</p>

<p>
  <strong>Num original:</strong>
  <%= @microsiga_entry.num_original %>
</p>

<p>
  <strong>Tributo:</strong>
  <%= @microsiga_entry.tributo %>
</p>

<p>
  <strong>Num remessa:</strong>
  <%= @microsiga_entry.num_remessa %>
</p>

<p>
  <strong>Banco origem:</strong>
  <%= @microsiga_entry.banco_origem %>
</p>

<p>
  <strong>Ag origem:</strong>
  <%= @microsiga_entry.ag_origem %>
</p>

<p>
  <strong>Id cnab mapf:</strong>
  <%= @microsiga_entry.id_cnab_mapf %>
</p>

<p>
  <strong>Id mapfre:</strong>
  <%= @microsiga_entry.id_mapfre %>
</p>

<p>
  <strong>Env cheque:</strong>
  <%= @microsiga_entry.env_cheque %>
</p>

<p>
  <strong>Enviado:</strong>
  <%= @microsiga_entry.enviado %>
</p>

<p>
  <strong>Rejeitado:</strong>
  <%= @microsiga_entry.rejeitado %>
</p>

<p>
  <strong>Dt import:</strong>
  <%= @microsiga_entry.dt_import %>
</p>

<p>
  <strong>Dt exportaca:</strong>
  <%= @microsiga_entry.dt_exportaca %>
</p>

<p>
  <strong>Boleto:</strong>
  <%= @microsiga_entry.boleto %>
</p>

<p>
  <strong>Tributo2:</strong>
  <%= @microsiga_entry.tributo2 %>
</p>

<p>
  <strong>Vida prev:</strong>
  <%= @microsiga_entry.vida_prev %>
</p>

<p>
  <strong>Dt ger pagto:</strong>
  <%= @microsiga_entry.dt_ger_pagto %>
</p>

<p>
  <strong>Dt cancel ch:</strong>
  <%= @microsiga_entry.dt_cancel_ch %>
</p>

<p>
  <strong>Est enviado:</strong>
  <%= @microsiga_entry.est_enviado %>
</p>

<p>
  <strong>Cheque pend:</strong>
  <%= @microsiga_entry.cheque_pend %>
</p>

<p>
  <strong>Baixa agluti:</strong>
  <%= @microsiga_entry.baixa_agluti %>
</p>

<p>
  <strong>Cnpj 2:</strong>
  <%= @microsiga_entry.cnpj_2 %>
</p>

<p>
  <strong>Data compens:</strong>
  <%= @microsiga_entry.data_compens %>
</p>

<p>
  <strong>Conta origem:</strong>
  <%= @microsiga_entry.conta_origem %>
</p>

<p>
  <strong>Data exp rj:</strong>
  <%= @microsiga_entry.data_exp_rj %>
</p>

<p>
  <strong>Nr orig sisp:</strong>
  <%= @microsiga_entry.nr_orig_sisp %>
</p>

<p>
  <strong>N etiq siacc:</strong>
  <%= @microsiga_entry.n_etiq_siacc %>
</p>

<p>
  <strong>A:</strong>
  <%= @microsiga_entry.a %>
</p>

<p>
  <strong>B:</strong>
  <%= @microsiga_entry.b %>
</p>

<p>
  <strong>C:</strong>
  <%= @microsiga_entry.c %>
</p>

<p>
  <strong>D:</strong>
  <%= @microsiga_entry.d %>
</p>

<p>
  <strong>E:</strong>
  <%= @microsiga_entry.e %>
</p>

<p>
  <strong>F:</strong>
  <%= @microsiga_entry.f %>
</p>

<p>
  <strong>G:</strong>
  <%= @microsiga_entry.g %>
</p>

<p>
  <strong>H:</strong>
  <%= @microsiga_entry.h %>
</p>

<p>
  <strong>I:</strong>
  <%= @microsiga_entry.i %>
</p>

<p>
  <strong>J:</strong>
  <%= @microsiga_entry.j %>
</p>

<p>
  <strong>K:</strong>
  <%= @microsiga_entry.k %>
</p>

<%= link_to 'Edit', edit_microsiga_entry_path(@microsiga_entry) %> |
<%= link_to 'Back', microsiga_entries_path %>
